<body>
  <section id="introduction">
    <div class="container">
      <div class="row fill-viewport align-items-center justify-content-center">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-md-auto">
              <h1 class="text-white title inline-block">Codebreaker 2019</h1>
            </div>
          </div>
          <hr class="mb-4"/>
          <div class="row">
            <div class="text-center">
              <div class="text-center">
                <h3 class="text-white">
                  Oops, 404 Error!
                </h3>
              </div>
              <img alt="You lose the game!" class="img-fluid" src="/assets/images/lost.gif"/>
            </div>
          </div>
          <hr class="mb-4"/>
        </div>
      </div>
    </div>
  </section>
</body>
